@keyframes opacity {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes change {
  0% { margin-top: 0; }
  15% { margin-top: 0; }
  25% { margin-top: -40px; }
  40% { margin-top: -40px; }
  50% { margin-top: -80px; }
  65% { margin-top: -80px; }
  75% { margin-top: -40px; }
  85% { margin-top: -40px; }
  100% { margin-top: 0; }
}

.content:before {
  content: '[';
  position: absolute;
  left: -35px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 40px;
  color: #16a085;
  font-size: 52px;
  animation: opacity 2s linear infinite;
}

.content:after {
  content: ']';
  position: absolute;
  right: 170px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 40px;
  color: #16a085;
  font-size: 52px;
  animation: opacity 2s linear infinite;
}

.content {
  position: relative;
  width: 70%;
  font-size: 50px;
  line-height: 40px;
  font-family: 'Muli', sans-serif;
  color: #ecf0f1;
  height: 40px;
  left: 70%;
  margin-top: -40%;
  margin-left: -118px;
}

.visible {
  font-weight: 600;
  overflow: hidden;
  height: 40px;
}

.moved {
  margin-top: 0;
  padding-left: 140px;
  text-align: left;
  list-style: none;
  animation: change 6s linear infinite;
}

ul li {
  line-height: 40px;
  margin: 0;
}

.pStyle p {
  font-size: 80%;
}

@media (max-width: 768px) {
  .content {
    width: 100%;
    font-size: 24px; 
    left: 0;
    margin-left: 0;
    margin: 0;
    text-align: center;
  }

  .content:before {
    font-size: 24px; 
    left: 85px;
    animation: opacity 2s linear infinite;
  }

  .content:after {
    font-size: 24px; 
    right: 95px; 
    animation: opacity 2s linear infinite;
  }

  .visible {
    height: 30px; 
    margin-bottom: 10px; 
    display: flex; 
    justify-content: center; 
  }

  .moved {
    padding-left: 0;
    text-align: center; 
    font-size: 24px; 
    display: inline; 
    margin-top: 20px; 
  }

  ul {
    display: flex;
    justify-content: center; 
    padding: 0; 
    margin: 0; 
  }

  ul li {
    line-height: 30px;
    margin: 0 8px; 
  }

  .pStyle p {
    font-size: 70%; 
  }

  .image-section {
    margin-bottom: 20px;
    width: 100%;
  }
  
}
