.content {
  position: relative;
  width: 70%;
  font-size: 50px;
  line-height: 40px;
  font-family: "Muli", sans-serif;
  color: #ecf0f1;
  height: 40px;
  left: 70%;
  margin-top: -40%;
  margin-left: -118px;
}
@keyframes parpadeo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.visible p {
  animation: parpadeo 1s infinite;
}

.visible {
  font-weight: 600;
  height: 40px;
  display: flex;
  align-items: center;
}

ul li {
  line-height: 40px;
  margin: 0;
}

.pStyle p {
  font-size: 80%;
}

@media (max-width: 768px) {
  .content {
    width: 100%;
    font-size: 24px;
    left: 0;
    margin-left: 0;
    margin: 0;
    text-align: center;
  }

  .content:before {
    font-size: 24px;
    left: 85px;
    animation: opacity 2s linear infinite;
  }

  .content:after {
    font-size: 24px;
    right: 95px;
    animation: opacity 2s linear infinite;
  }

  .visible {
    height: 30px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
  }

  .moved {
    padding-left: 0;
    text-align: center;
    font-size: 24px;
    display: inline;
    margin-top: 20px;
  }

  ul {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
  }

  ul li {
    line-height: 30px;
    margin: 0 8px;
  }

  .pStyle p {
    font-size: 70%;
  }

  .image-section {
    margin-bottom: 20px;
    width: 100%;
  }
}
